In [49]:
import pandas as pd
pd.options.display.max_rows = 14
train = pd.read_csv('/home/yahwang/elice/titanic_train.csv')

In [97]:
# 테스트를 위한 임시 데이터
dup_check = train[['Pclass','Ticket','Fare']].copy() # train.loc[:,('Age','Pclass')]
dup_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
Pclass    891 non-null int64
Ticket    891 non-null object
Fare      891 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 21.0+ KB

### 중복 확인 및 제거

row를 비교할 때는 전체 row가 같은 지 , column을 비교할 때는 column의 값이 같은 지 확인한다.

참고 : 중복된 데이터끼리 정렬은 하지 않아서 시각적으로 확인하는 것은 불편할 수 있다.

#### default : **DataFrame.duplicated( subset=None, keep='first' )**

#### * keep: 중복되는 여러 row 중 남길 하나의 row를 선택하는 기준 ( 'first', 'last', False )

    'first', 'last' : 처음(혹은 마지막) row만 False로 처리하고 (남겨둔다는 의미)  
    
                      나머지 중복되는 row들은 모두 True로 표시한다.

    False : 해당 row 모두 True

In [42]:
test = pd.DataFrame([{'num':1},{'num':2},{'num':3},{'num':2},{'num':2}])
test

   num
0    1
1    2
2    3
3    2
4    2

In [43]:
# 2가 3개 존재하는데, 첫번째 2(index 1)는 keep에 의해 False로 남고 나머지는 True로 처리
test.duplicated(keep='first')

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [51]:
dup_check['Ticket'].duplicated() ## 특정 컬럼에도 적용 가능

0      False
1      False
2      False
3      False
4      False
5      False
6      False
       ...
884    False
885     True
886    False
887    False
888     True
889    False
890    False
Name: Ticket, Length: 891, dtype: bool

In [5]:
# [ ] 안에 넣어서 데이터 불러오기
dup_check[ dup_check.duplicated(keep=False) ] # 중복된 값이 존재하는 row 모두 표시

     Pclass      Ticket     Fare
3         1      113803  53.1000
7         3      349909  21.0750
8         3      347742  11.1333
9         2      237736  30.0708
10        3     PP 9549  16.7000
13        3      347082  31.2750
16        3      382652  29.1250
..      ...         ...      ...
869       3      347742  11.1333
871       1       11751  52.5542
874       2   P/PP 3381  24.0000
879       1       11767  83.1583
880       2      230433  26.0000
885       3      382652  29.1250
888       3  W./C. 6607  23.4500

[342 rows x 3 columns]

#### * subset : 특정 기준 컬럼에 대해서만 중복을 체크 ( 여러 컬럼은 AND를 의미 )

In [107]:
# (Ticket, Fare)가 중복되는 경우만을 의미한다.
dup_check.duplicated(subset=['Ticket', 'Fare'], keep='first').sum()

0

In [44]:
dup_check.duplicated(subset=['Ticket'], keep='first').sum()
# dup_check['Ticket'].duplicated() - 조건은 같지만 특정 컬럼의 값만 가져온다.

210

#### * 조건 OR 처리

In [46]:
dup_check.duplicated(subset=['Ticket']) | dup_check.duplicated(subset=['Fare'])

0      False
1      False
2      False
3      False
4      False
5      False
6      False
       ...
884     True
885     True
886     True
887     True
888     True
889     True
890     True
Length: 891, dtype: bool

#### * 중복 데이터 제거
    drop_duplicates( subset=None, keep='first', inplace=True )

In [98]:
dup_check.drop_duplicates(subset=['Ticket'], inplace=True)
dup_check

     Pclass            Ticket     Fare
0         3         A/5 21171   7.2500
1         1          PC 17599  71.2833
2         3  STON/O2. 3101282   7.9250
3         1            113803  53.1000
4         3            373450   8.0500
5         3            330877   8.4583
6         1             17463  51.8625
..      ...               ...      ...
882       3              7552  10.5167
883       2  C.A./SOTON 34068  10.5000
884       3   SOTON/OQ 392076   7.0500
886       2            211536  13.0000
887       1            112053  30.0000
889       1            111369  30.0000
890       3            370376   7.7500

[681 rows x 3 columns]